.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.team-detail-text {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  background: #112a5c;
  border-radius: 10px;
  overflow: hidden;
  font-family: bebas_neueregular;
}

.what-r-u-text, .what-r-u-text-2 {
  font-style: italic;
  font-weight: 600;
  font-size: 28px;
  color: #1d1d1d;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
